.controls {
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.volume {
  display: inline-block;
}

.channel {
  display: inline-block;
}

.button {
  margin: 0 1.5rem 0 3rem;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  transition: border 200ms;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
}
.button.play {
  border-top: 50px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid #333;
}
.button.play:hover {
  border-left: 100px solid #4d4d4d;
}
.button.play:active {
  border-left: 100px solid #7e7e7e;
}

.button.pause {
  border-top: 0 solid transparent;
  border-right: 33.3333333333px solid #333;
  border-bottom: 0 solid transparent;
  border-left: 33.3333333333px solid #333;
}
.button.pause:hover {
  border-right: 33.3333333333px solid #4d4d4d;
  border-left: 33.3333333333px solid #4d4d4d;
}
.button.pause:active {
  border-right: 33.3333333333px solid #7e7e7e;
  border-left: 33.3333333333px solid #7e7e7e;
}

.channel-displayer {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 0;
}

.volume-displayer {
  background: #333;
  color: #8a8a8a;
  font-size: 32px;
  margin-top: 10px;
  text-align: center;
  width: 15%;
}

.mute {
  margin: 0 3rem 0 1.5rem;
  display: inline-block;
  border: 50px solid #333;
}
.mute:hover {
  border: 50px solid #4d4d4d;
}
.mute:active {
  border: 50px solid #7e7e7e;
}

.unmute {
  margin: 0 3rem 0 1.5rem;
  display: inline-block;
  border: 50px solid #700000;
}
.unmute:hover {
  border: 50px solid #770000;
}
.unmute:active {
  border: 50px solid #880000;
}

.up {
  border-top: 0 solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 90px solid #333;
  border-left: 50px solid transparent;
  margin-bottom: 1.5rem;
}
.up:hover {
  border-bottom: 90px solid #4d4d4d;
}
.up:active {
  border-bottom: 90px solid #7e7e7e;
}

.down {
  border-top: 90px solid #333;
  border-right: 50px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 50px solid transparent;
  margin-top: 1.5rem;
}
.down:hover {
  border-top: 90px solid #4d4d4d;
}
.down:active {
  border-top: 90px solid #7e7e7e;
}

body {
  margin: 0;
  padding: 0;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  