.button {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  transition: border 200ms;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  margin-top: 10px;
}

.button.play {
  border-top: 50px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid #333;
}

.button.play:hover {
  border-left: 100px solid #4d4d4d;
}

.button.pause {
  border-top: 0 solid transparent;
  border-right: 33.3333333333px solid #333;
  border-bottom: 0 solid transparent;
  border-left: 33.3333333333px solid #333;
}

.button.pause:hover {
  border-right: 33.3333333333px solid #4d4d4d;
  border-left: 33.3333333333px solid #4d4d4d;
}

body {
  margin: 0;
  padding: 0;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  